<h1>Pirate</h1>
<h2>Name: <%=@pirate.name%></h2>
<h2>Weight: <%=@pirate.weight%> Pounds</h2>
<h2>Height: <%=@pirate.height%> Inches</h2>


<h2>Ship</h2>
    <% @ships.each do |ship| %>
    <p>Name: <%=ship.name%></p>
    <p>Type: <%=ship.type %></p>
    <p>Booty: <%=ship.booty %></p>
    <% end %>

